
.furnished_product{
    display: grid; 
    grid-template-columns: repeat(3,1fr);  
    margin: 10px 0; 
} 

.amenities{
    display: flex; 
    flex-wrap: wrap;  
    gap: 10px;  
}

.amenities>*{
    padding: 10px;  
}

.overlooklist{
    margin: 6px 0;
}

.overlooklist>*{  
    padding: 4px 10px ; 
    border-radius: 4px;  
    background-color: rgb(219,224,224);
}

.location_adv{
    display: grid;  
    grid-template-columns: repeat(3,1fr);     
} 

.location_adv>*{
    margin: 6px 0; 
}

.schedule_bottom{
    display: none; 
    position: relative; 
}


@media screen and (min-width: 100px) and (max-width:550px) {
    .location_adv{  
        grid-template-columns: repeat(2,1fr);     
    }   

    .schedule_bottom{  
        display: block;  
    }  

} 





