

.furnished_product{
    display: grid; 
    grid-template-columns: repeat(3,1fr);  
    margin: 10px 0; 
} 

.amenities{
    display: flex; 
    flex-wrap: wrap;  
    gap: 10px;  
}

.amenities>*{
    padding: 10px;  
}

.overlooklist{
    margin: 6px 0;
}

.overlooklist>*{  
    padding: 4px 10px ; 
    border-radius: 4px;  
    background-color: rgb(219,224,224);
}

.location_adv{
    display: grid;  
    grid-template-columns: repeat(3,1fr);     
} 

.location_adv>*{
    margin: 6px 0;   
}

.schedule_bottom{
    display: none; 
    position: relative; 
} 

.schedule_div{
     box-shadow: rgba(149, 157, 165, 0.301) 0px 8px 24px;  
     border: 1px solid rgba(213, 213, 213, 0.721);  
     border-radius: 4px; 
     padding: 20px 10px;
}


@media screen and (min-width: 100px) and (max-width:550px) {
    .location_adv{  
        grid-template-columns: repeat(2,1fr);     
    }   

    .schedule_bottom{  
        display: block;  
    }  

} 

@media screen and (min-width: 550px) and (max-width:770px) {
    .location_adv{  
        grid-template-columns: repeat(2,1fr);     
    }   

    .schedule_bottom{  
        display: block;  
    }  

} 




