
.sell{
    padding-top: 110px;  
    /* border: 2px solid black;   */
    display: flex; 
    width: 90%;  
    margin: auto;  
}  

.sell img{
    width: 80%;  
    margin: auto; 
}

.sell>*:nth-child(1){
    flex: 7;  
    /* border: 2px solid green;   */
    padding: 20px ;  
    text-align: left; 
} 

.sell>*:nth-child(2){
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    flex: 5; 
    /* border: 2px solid rgb(0, 8, 255);  */
    padding: 20px; 
}

.grid{
    display: flex ; 
    flex-wrap: wrap;  
    gap: 10px; 
    /* border: 2px solid yellow;  */
    align-items: center; 
}



