.navbar{
    display: flex; 
    align-items: center ; 
    max-width: 100%; 
    justify-content: space-around;  
    background-color: rgb(11,32,51);  
    color: white; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100;
    right: 0; 
    padding: 0 40px; 
} 

/* .navbar>*{
    border: 2px solid yellow; 
}  */
 
.thin{
    font-weight: 100; 
    background-color: green; 
}

.nav_link{ 
    display: flex;  
    align-items: center; 
    justify-content: space-around; 

}

.user_section{
    display:flex ; 
    align-items: center; 
    justify-content: space-around; 

} 

.navbar>div:nth-child(1){
    flex: 1;
    display: flex; 
    align-items: center; 
    justify-content: left ; 
    gap: 20px;  
}

.nav_link>*{
    padding: 10px ; 
    background-color: unset;  
    font-size: large;  
    color: white; 
    border-radius: 4px;
} 


.bold{
    font-weight: bolder;    
    animation: flick 2s linear infinite;
    background-color: rgb(114,154,191) ; 
}

/* Nav blink animation  */ 

@keyframes flick {
    0%, 100% {
        transform: scale(1.01);
    }
    10%, 90% {
        transform: scale(1.02);
    }
    20%, 80% {
        transform: scale(1.03);
    }
    30%, 70% {
        transform: scale(1.03);
    }
    40%, 60% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(1.01);
    }
} 


/* nav animation end */

.navbar>div:nth-child(2){
    flex: 9; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;   
}

.navbar>div:nth-child(3){
    flex: 4;
}

.user_section{ 
    text-align: end; 
}

.user_section{
    display: flex; 
    align-items: center;
    justify-content: space-around;  
    padding: 10px 0;
}





