.navbar{
    display: flex; 
    align-items: center ; 
    justify-content: space-around ; 
    padding: 2px 30px 2px 40px;  
    position: fixed; 
    z-index: 100;
    top: 0; 
    left: 0; 
    color: black; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    right: 0; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.265); 
    background-color: rgb(254, 254, 95) ;    
} 



.navbar>div:nth-child(1){
    display: none;   
    /* border: 2px solid yellow;    */
    flex: 1;  
}

.navbar>div:nth-child(2){ 
    flex: 5; 
    max-width: 180px;  
    /* border: 2px solid yellow;   */

} 

.navbar>*:nth-child(3){ 
    display: flex;   
    /* border: 2px solid yellow;  */
    flex: 9; 
    align-items: center; 
    justify-content: space-around;  
} 

.user_section{
    display:flex ; 
    align-items: center; 
    justify-content: space-around;  
} 
 

.user_section{ 
    text-align: end; 
}

.user_section{
    display: flex; 
    align-items: center;
    justify-content: space-around;  
    padding: 10px 0;
}



@media screen and (min-width:100px) and (max-width: 550px) {
    .navbar>div:nth-child(1){
        display: block;  
    }

    .navbar{
        padding: 2px 0px;
    }
    
    .thin{
        display: none; 
    }

    .bold{
        display: none; 
    }

    .navbar>div:nth-child(1){
        flex: 1; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }


    .navbar>div:nth-child(2){
        flex: 1; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }

    .navbar>div:nth-child(3){
        flex: 1; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }
}

@media screen and (min-width:550px) and (max-width: 980px) {
    .navbar>div:nth-child(1){
        display: block;  
    }

    .navbar{
        padding: 2px 0px;
    }
    
    .thin{
        display: none; 
    }

    .bold{
        display: none; 
    }

    .navbar>div:nth-child(1){
        flex: 1; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }


    .navbar>div:nth-child(2){
        flex: 1; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }

    .navbar>div:nth-child(3){
        flex: 1; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }
}

