
.topbox{
    position: relative; 
    height: 95vh; 
    /* border: 2px solid green;   */
}

/* top button */

.fields>div:nth-child(1)>*{
    width: 10%;    
    margin: 0;     
}

.fields>div:nth-child(2)>*:nth-child(1){
     width: 14%;  
}

.topbox>*:nth-child(2){ 
    position: absolute;  
    bottom: 40%;  
    margin: auto; 
}

/* select city css */

.select_city *{ 
    color: black; 
}

/* top section end */

.topbox>*:nth-child(1){
    position: absolute; 
    top: 20%; 
    left: 5%; 
    /* border: 2px solid yellow;  */
} 

.topbox>*:nth-child(2){ 
    position: absolute;  
    bottom: 20%; 
    
} 

.fields{
    width: 100%;  
    margin: 20px 0; 
    text-align: center; 
    display: grid; 
    gap: 20px; 
}

.fields>div:nth-child(1){ 
    /* border: 2px solid rgb(255, 0, 0);  */
    margin: auto 5%; 
    text-align: center;  
    display: flex; 
    gap: 5px; 
    align-items: center;  
}

/* textShadow={"#000000 3px 1px 20px"}  */

.fields>div:nth-child(2){  
    margin-left: 14.3% ; 
    text-align: center;  
    display: flex; 
    gap: 20px;
    align-items: center;  
    
} 





@media screen and (min-width:100px) and (max-width:550px) { 

    .fields>div:nth-child(2){ 
        margin: auto 5%; 
        text-align: center;  
        display: flex;  
        gap: 0;   
        align-items: center;  
    } 

    .fields input{
        width: 100%; 
    }

    .fields>div:nth-child(1){ 
        margin: auto 5%; 
        text-align: center; 
        max-width: 100%;  
        display: grid;   
        grid-template-columns: repeat(4,1fr);  
        gap: 4px;    
    }  
    
    .topbox>*:nth-child(1){
        top: 8%; 
    }

    .fields>div:nth-child(1)>*{
        width: 90%; 
        margin: auto;   
    }

    .fields>div:nth-child(2)>*:nth-child(1){
         width: 40%; 
    }

    .topbox>*:nth-child(2){ 
        position: absolute;  
        bottom: 40%; 
    }

}



