.footer {
  background-color: var(--main-one);
  color: var(--dark-text-color);
  /* color: black;   */
}

.info_warning h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.info_warning h3:hover {
  text-decoration: underline;
  color: rgb(0, 128, 255);
}

.groupof {
  margin: 30px auto 0 auto;
  width: 90%;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.footer_option{
  display: flex; 
  align-items: center; 
  justify-content: space-around; 
}

.footer_option>*:nth-child(1){
  flex: 9;
}

.footer_option>*:nth-child(2){
  flex: 2; 
  text-align: left; 
}

/* contact icon */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 24px 0;
}

.contact h1 {
  border-radius: 18%;
  /* color: rgb(245,101,101);  */
  color: white;
  padding: 10px;
  object-fit: contain;
  cursor: pointer;
  overflow: hidden;
  /* border: 2px solid rgb(255, 255, 255); */
  transition: all 0.3s ease-in-out;
  background-color: #97c6f2bc;
}

.contact h1 h5 {
  /* background-color: rgb(255, 255, 255); */
  /* transform: scale(1.4); */
  transition: transform 0.3s ease-in-out;
}

.contact h1:hover {
  transform: scale(1.2);
  color: transparent;
}

.contact h1:hover *:nth-child(1) {
  stroke: rgb(255, 255, 255);
  stroke-width: 0.5px;
}

.contact h1:hover *:nth-child(2) {
  stroke: rgb(255, 255, 255);
  stroke-width: 0.4px;
}

.contact h1:hover *:nth-child(3) {
  stroke: rgb(255, 255, 255);
  stroke-width: 0.5px;
}

.contact h1:hover *:nth-child(4) {
  stroke: rgb(255, 255, 255);
  stroke-width: 0.4px;
} 


